html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    font-family: 'poppins';
}

body {
    color: #fff;
    background: url(img/CoolSky.jpg) no-repeat;
    padding: 1em;
}

body,
a {
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

header, nav, article, aside, footer {
    padding: 1.2em;
    /*background: #3b9ae1;*/
    border-radius: .5em;
    margin: 5px;
}

header  { background: rgb(105, 105, 105) }
nav     { background: #f2f2f2; }
aside   { background: #a9dffa; }
footer  { background: rgb(105, 105, 105) }

main {
    display: flex;
    flex-flow: row wrap;
}

main > * {
    flex: 1;
}

nav {
    order: 1;
    flex: 100%;
}

article {
    order: 2;
    flex: 5;
}

aside {
    order: 3;
}

/* ... */

p {
    color: #080808;
}

h1, h2, h3, h4, h5 {
    color: #080808;
}

h4 {
    text-decoration: #de5728 wavy underline;
}

h4 {
    text-align: center;
}

h5 {
    font-size: 16px;
}



/* HEADER - Contact Bar*/

.contact-bar {
    display: flex;
    justify-content: space-evenly;
}

.menu-personal {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.menu-social {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.menu-personal li {
    margin-left: 30px;
}

.social-icon {
    color: #989898;
    background: #eeefed;
    text-align: center;
    border-radius: 5px;
    margin-left: 2px;
    padding: 15px;
    font-size: 25px;
}

.social-icon:hover,
.social-icon:focus {
    color: #fff;
    background: #de5728;
}

.menu-personal a:hover,
.menu-personal a:focus {
    text-decoration: underline;
    color: #de5728;
}

.fi {
    margin: 5px;
}


/* ARTICLE - Logo */

.menu-logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}

span {
    color: #de5728;
    text-shadow: 1px 1px 0px #080808;
}

.logo {
    font-size: 53px;
    margin-left: 30px;
}

.logo .fi {
    color: #de5728;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #080808;
}


/* ARTICLE - Navigation */

.navigation ul {
    display: flex;
    justify-content: flex-end;
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;
    row-gap: 10px;
    margin-top: 55px;
}

.navigation a {
    color: rgb(105, 105, 105);
    text-transform: uppercase;
    padding-right: 30px;
    padding-left: 30px;
}

.navigation li {
    border-left: 2px solid #cecece;
    font-size: 30px;
}

.navigation .fi {
    margin-right: 15px;
}

.navigation li:last-child {
    border-right: 2px solid #cecece;
}

.selected a,
.navigation a:hover,
.navigation a:focus {
    color: #de5728;
}

/* ARTICLE - Post Header */

.post-header {
    background: url(img/coveratom.jpg) center -715px no-repeat;
}

.post-title {
    display: inline-block;
    color: #fff;
    background: #de5728;
    font-size: 45px;
    text-transform: uppercase;
    padding: 20px;
    border-radius: .5em;
}

/* ARTICLE - Post  Section 1 a Section 2 */

.text-center {
    text-align: center;
}

.text-post {
    display: flex;
}

.atom-animation img {
    border-radius: 100%;
    width: 350px;
    height: 350px;
}


/* ASIDE */

time {
    font-size: 13px;
    color: #989898;
}


/* FOOTER */

.menu-footer {
    display: flex;
    justify-content: space-between;
}

.nav-footer ul {
    display: flex;
}

footer li:after {
    content: "/";
    color: rgb(74, 74, 74);
    margin: 0px 8px;
}

footer li:last-child:after {
    content: "";
}

.nav-footer a {
    text-decoration: none;
    color: #989898;
    font-weight: 600;

}

.nav-footer a:hover,
.nav-footer a:focus {
    text-decoration: underline;
    color: #de5728;
    font-weight: 600;
}

.name-footer {
    font-weight: 600;
    color: rgb(74, 74, 74);
}



/* PROJECT */

.text-project {
    color: #080808;
}

.text-project a {
    color: #080808;
}

.text-project a:hover,
.text-project a:focus {
    opacity: 0.8;
}

.text-project ul {
    color: #080808;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.project-kocka {
    background: #de5728;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: .5em;
}



/* INFO */

.danbo-animation img {
    border-radius: 100%;
    width: 350px;
    height: 350px;
}

blockquote {
    color: #080808;
    font-family: italic;
    font-size: 20px;
    text-align: center;
}


/* CONTACT */

.text-contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 900px;
}


input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
button,
textarea {
    background: #fff;
    border: none;
    width: 400px;
    padding: 15px 20px;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .12);
}

textarea {
    max-width: 635px;
}

button {
    color: #fdeaea;
    background: #de5728;
}

label {
    cursor: pointer;
    color: #080808;
}








@media ( max-width: 800px ) {
    article { order: 2; flex: 100%; }
    nav     { order: 1; }
    aside   { order: 3; }
}

@media ( max-width: 600px ) {
    article, aside { order: 2; flex: 100%; }
}



@media only screen and ( max-width: 480px ) {
    .text-post {
        flex-direction: column;
    }

    .menu-footer {
        flex-direction: column;
    }
}

@media only screen and (min-width: 480px) and ( max-width: 800px ) {
    .atom-animation img {
        width: 175px;
        height: 175px;
    }

    .danbo-animation img {
        width: 175px;
        height: 175px;
    }
}

@media only screen and (min-width: 800px) and ( max-width: 1000px ) {
    .atom-animation img {
        width: 175px;
        height: 175px;
    }

    .danbo-animation img {
        width: 175px;
        height: 175px;
    }
}
